.feed{
    flex:0.5;
    border-right: 1px solid var(--twitter-background);
    overflow-y: scroll;
    scrollbar-width: none;
   
}

.feed-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}
.feed-header > h2 {
    font-size: 20px;
    font-weight: 800;
  }

  .feed {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .feed::-webkit-scrollbar {
    display: none;
  }
  




  .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid var(--twitter-color);
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 50%;
    margin-top: 5vh;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }

  .loader-position{
    float: left;
    margin-left: 30%;
    margin-top: 20vh;
  }
  .beat-loader-style{
    color: rgb(170, 170, 177);
  }






  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }