.post {
    display: flex;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
  }
  
  .post-body {
    flex: 1;
    padding: 10px;
    overflow: hidden;
  }
  .comment{
     display:flex;
     flex-wrap: wrap;
  }


  .post:hover{
    background-color: #e6ecf0;
    cursor: pointer;
  }
  
  .post-body > img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
  }
  
  .post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  
  }

  .delete-icon{
    float: right;
    opacity: .7;
  }
  .delete-icon:hover{
    opacity: 1;
  }
  .delete-hidden{
    display: none;
  }
  
  
  .post-header-description {
    margin-bottom: 5px;
    font-size: 15px;
    white-space: pre-line;
  }
  
  .post-header-text > h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
 
  
  .post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  
  .post-avatar {
    padding: 10px;
  }
  .spanwho{
    color: #00a2ff ;
  }
.love-bw{
  fill: black;
 
}
.love-c{
  color: red;

 
}
.love-bw:hover{
  font-size: larger;
  color: red;
}



.repeat-bw{
  color: inherit;
}
.repeat-c{
  color: green;
}


  .repeat-bw:hover{
    color: green;
    font-size: larger;
  }



  .com-bw{
    color: inherit;
  }
  .com-c{
    color:#00a2ff ;
  }
  .com-bw:hover{
    color: #00a2ff ;
    font-size: larger;
  }

