.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.21;
  /* min-width: 250px; */
  margin-top: 10px;
  padding-left: 5px;
  padding-right: -10px;
}

.sidebar-bottom{
  display: flex;
  border-radius: 30px;
  text-align: center;
  margin-top: 65px;
  margin-right: auto;
  min-width: 50%;
  max-height: 50px;
  justify-content: space-evenly;
}

.sm{
  font-weight: lighter;
  font-size: 80%;
}
.sidebar-bottom:hover{
  background: var(--twitter-background);
  cursor: pointer;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 10px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 45px !important;
  max-width: 190px;
  margin-top: 10px !important;
  margin-left: 15px !important;
}
.logout{
  padding-top: 10px;
  margin-left: 0%;
  opacity: .7;
  width: auto;
  height: 40px;
  font-size: 15px;
  border-radius: 20px;
  border-style: none;
  background-color: white;
}
.logout-bottom{
  
  background-color: var(--twitter-background);
  border-radius: 20px;
  float: left;
  margin-top: 40vh;
  margin-left: -75vw;
}
.logout:hover{
  opacity:1;
  cursor: pointer;
}