.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.23;
  /* min-width: 250px; */
  margin-top: 10px;
  padding-left: 5px;
  padding-right: -10px;
}

.sidebar-bottom{
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  border-radius: 30px;
  text-align: center;
  margin-top: 50px;
  margin-left: -20px;
  min-width: 50%;
}
.sidebar-bottom-image{
   position: absolute;
   top:88%;
   left:3%;
}
.sidebar-bottom-ico{
  position: absolute;
  top:90%;
  left:17%;
  opacity: 0.8;
}

.sidebar-bottom:hover{
  background: var(--twitter-background);
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 10px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 45px !important;
  max-width: 220px;
  margin-top: 10px !important;
  margin-left: 18px !important;
}